/**
 * Description: main styles
 * Version: 1.0.0
 * Last update: 09.01.2017
 */
/*$breakpoints: (
	'screen-xs': 480px,
	'screen-sm': 768px,
	'screen-md': 992px,
	'screen-lg': 1200px
);*/
@font-face {
  font-family: 'raavi';
  src: url('../fonts/raavi.eot');
  src: url('../fonts/raavi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raavi.woff') format('woff'),
  url('../fonts/raavi.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'raavi';
  font-size: 18px;
}
input[type="text"]::-webkit-input-placeholder {   color: #fff;}
input[type="text"]::-moz-placeholder {  color: #fff;}
input[type="text"]:-ms-input-placeholder {  color: #fff;}
input[type="text"]:-moz-placeholder {  color: #fff;}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
*::-webkit-scrollbar {  width: 4px;  background: #ccc;}
*::-webkit-scrollbar-button {  height: 0;}
*::-webkit-scrollbar-thumb {  background: black; height: 10px;}
*::-webkit-scrollbar-corner {background: green;}
.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

a:hover, a:focus, a:active, a.active {
  color: #777;
  text-decoration: none;
}

button {
  outline-color: white;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}
th:hover, th:focus {
  background: rgba(255, 255, 255, .6);
  cursor: pointer;
}
.container {
  width: 400px;
  background: #faaca8;
  padding: 25px;
}

.top-radius {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.bottom-radius {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.header {
  text-align: center;
  margin-top: 20px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.keypad-holder {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.number {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.number .numbers {
  align-self: flex-end;
  background: transparent;
  border: 0;
}

.key {
  width: 60px;
  min-height: 60px;
  padding: 15px 0;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key:last-child {
  background: #4cda64;
  color: #fff;
}

.key:last-child:hover {
  background: #348f3c;
  border: 1px solid #fff;
}

.key:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #777;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab:hover, .tab:focus, .tab:active, .tab.active {
  color: #777;
  text-decoration: none;
}

.tab-text {
  font-size: 12px;
  margin-top: 5px;
}

.contacts tbody {
  display: block;
  max-height: 295px;
  overflow: hidden;
  overflow-y: auto;
}

.contacts tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table > thead > tr > th {
  border: none;
}
.table-hover > tbody > tr:hover {
  background-color: #fff;
}
.table > tbody > tr > td {
  border-top: 1px solid #fff;
}
.form-inline .form-control {
  margin-bottom: 20px;
  width: 100%;
  background: #000;
  color: #fff;
  border: 0;
}
.form-control:focus {
  -webkit-box-shadow: 2px 1px 5px 2px #F8FFEB;
  box-shadow: 2px 1px 5px 2px #F8FFEB;
}

.form-inline .form-group {
  display: block;
}

.user-top-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}

.user-img {
  width: 102px;
  height: auto;
  margin-top: -10px;
}

.user-name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.options-line {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
}

.options-icon {
  border-radius: 50%;
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 auto 5px;
  position: relative;
}

.options-icon:hover {
  background: #777;
}

.options-text {
  font-size: 12px;
}

.message, .call, .video, .mail {
  display: flex;
  flex-direction: column;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tel-number {
  margin-bottom: 20px;
  font-size: 16px;
}

.options-table {
  margin-bottom: 20px;
  font-size: 16px;
}

.options-item {
  padding: 10px 0;
  border-bottom: 1px solid #777;
}

.options-item:first-child {
  border-top: 1px solid #777;
}

.scroll-holder {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

.add-foto-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #eee;
  outline: none;
}

.add-btn {
  border: 0;
  background: transparent;
  width: 100%;
  text-align: left;
  outline-color: gray;
}

.done-btn {
  background: transparent;
  border: none;
  outline: none;
}

.done-btn:hover {
  color: #777;
}

.main-info-holder {
  flex-grow: 1;
}
.edit-field .add-btn {
  color: #000;
}
.edit-main-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.edit-foto {
  margin-right: 10px;
}

.edit-field {
  padding: 5px 0;
  border-bottom: 1px solid #fff;
  width: 100%;
  display: flex;
}

.delete-btn {
  color: #e32910;
  margin-top: 3px;
  margin-right: 10px;
  border: none;
  background: transparent;
}

.delete-btn:hover, .delete-btn:focus, .delete-btn:active {
  color: #a70b0f;
}

.add-btn {
  color: #4cda64;
  margin-top: 3px;
  margin-right: 10px;
}

.add-btn:hover, .add-btn:focus, .add-btn:active {
  color: #348f3c;
}

.delete-contact {
  color: #e32910;
  margin: 0 auto;
  font-weight: bold;
}
.img-box, .edit-foto {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
  border-radius: 50%;
}
